<a href="https://colab.research.google.com/github/rahulrit25/pythonlab/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
data=pd.read_csv('CapitalReceipts2021.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Category            195 non-null    object
 1   Sub-Category        195 non-null    object
 2   Sl.No.              195 non-null    object
 3   Tax Revenue         195 non-null    object
 4   Major Head          151 non-null    object
 5   Actuals 2019-2020   124 non-null    float64
 6   Budget 2020-2021    120 non-null    float64
 7   Revised  2020-2021  117 non-null    float64
 8   Budget 2021-2022    120 non-null    float64
dtypes: float64(4), object(5)
memory usage: 13.8+ KB

In [6]:
data.describe()

       Actuals 2019-2020  ...  Budget 2021-2022
count       1.240000e+02  ...      1.200000e+02
mean        3.950488e+04  ...      6.622010e+04
std         5.536408e+05  ...      6.400718e+05
min        -3.322613e+06  ...     -3.604160e+06
25%        -2.778225e+02  ...     -1.084453e+03
50%         9.245200e+02  ...      1.016005e+03
75%         1.483517e+04  ...      2.342983e+04
max         3.355188e+06  ...      3.604160e+06

[8 rows x 4 columns]

In [7]:
data.head()

            Category  ... Budget 2021-2022
0  Non Debt Receipts  ...              NaN
1  Non Debt Receipts  ...          8989.14
2  Non Debt Receipts  ...          -100.00
3  Non Debt Receipts  ...          8889.14
4  Non Debt Receipts  ...           100.00

[5 rows x 9 columns]

In [9]:
data[data['Tax Revenue']=='State Goverments']

Empty DataFrame
Columns: [Category, Sub-Category, Sl.No., Tax Revenue, Major Head, Actuals 2019-2020, Budget 2020-2021, Revised  2020-2021, Budget 2021-2022]
Index: []